
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('Color-palette.css');


body {
    background-color: black;
    color: var(--dark-gray-body-text);
}

h1, h2, h3 {
    color: var(--black-heading-text);
}

.button {
    background-color: var(--purple);
    color: white; /* or any color that fits your design */
}
